<!DOCTYPE html>
<html>

<head>
    <title>Invoices</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0 200px;
            font-size: 15px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .head {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            align-items: start;
        }

        p {
            margin: 0;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="head">
        <div>
            <h1 style="margin-bottom: 5px; font-size: 24px;">Mazoon Alrabi</h1>
            <p>Customs clearence <br>transportation services </p>
            <p>CR #45475y48</p>
        </div>
        <div class="">
            <img src="/public/assets/images/logo-sm.png" width="130" alt="">
        </div>
        <div>
            <p>ہ
                مزون الرا
                يك والشحن<br>
                التخليص الجمر<br>
                س ت 1008760 </p>
        </div>
    </div>
    <h4 style="text-align: center;">Invoice</h4>
    <table>
        <tbody>

            <tr>
                <th rowspan="3" colspan="3" style="font-size: 14px;">Mazoon Al Rabi Trading LOC0073 <br>
                    Office # 12, Noor Building,<br>
                    Po 225, PC 111, Ghala Ind Est, Muscat<br>
                    Tel : +968 91166672
                </th>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Invoice No</div>
                    <p> <b> </b></p>
                </td>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Dated</div>
                    <p> <b> </b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Terms of Payment :</div>
                    <p> <b> Cash</b></p>
                </td>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Comod :</div>
                    <p> <b> General Cargo</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Weight : </div>
                    <p> <b> </b></p>
                </td>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Vehicle :</div>
                    <p> <b> </b></p>
                </td>
            </tr>

            <tr>
                <th colspan="3" rowspan="4" style="font-size: 14px;">
                    BUYER
                    Frontline Logistics
                    Azaiba North,Muscat
                </th>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Volume</div>
                    <p> <b> </b></p>
                </td>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Pkgs</div>
                    <p> <b> </b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">MB/L</div>
                    <p> <b> </b></p>
                </td>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Reference // Job No</div>
                    <p> <b> </b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Origin</div>
                    <p> <b> </b></p>
                </td>
                <td>
                    <div style="font-size: 14px; margin-bottom: 10px;">Destination</div>
                    <p> <b> </b></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>Terms of Delivery </p>
                    <div><b>Wajajah Land Border(ALSARRAY Global LLC)
                        </b></div>
                </td>
            </tr>

        </tbody>
    </table>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>SI</th>
                <th>Perticulers</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Custome Clearence</td>
                <td>10</td>
                <td>1</td>
                <td>10.0000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Custome Clearence</td>
                <td>10</td>
                <td>1</td>
                <td>10.0000</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right;">Total (in OMR)</td>
                <td></td>
                <td>20000</td>
            </tr>
        </tbody>

        <tr>
            <th colspan="2" rowspan="2">
                <div style="padding-bottom: 20px;">
                    <div>Amount Chargeable (in words) </div>
                    <div><b>TWENTY OMANI RIAL ONLY</b></div>
                    <div>Rremarks</div>
                </div>
                <div>
                    Bank A/c Details
                    <p>Account Name: MAZOON AL RABI TRADING
                        Account Number: 0387065255440017
                        Bank: Bank Muscat</p>
                </div>
            </th>
            <td colspan="3">E &O E</td>
        </tr>
        <tr>
            <td colspan="3">E &O E</td>
        </tr>
    </table>

    <p style="text-align: center; padding: 10px 0;">This is computer generativr invoice</p>
</body>

</html>
